.listData{
    width: 1000px;
    padding-bottom: 20px;
    /*background: #F6523A;*/
}
.listData .box{
    width: 96%;
    height: 4rem;
    margin: 0px auto;
    /*padding: 40px 0px;*/
    /*background: #00F7DE;*/
    display: flex;
    border-bottom: 1px solid #dddddd;
}
 .box:hover{
    cursor: pointer;
    /*transition: 1.0s !important;*/
    transform: scale(1.1) !important;
    color: #F6523A;
     font-weight: 600;
}
.titlename{
    width: 70%;
    font-size: 0.6rem;
    /*background: blue;*/
    text-align: left;
    line-height: 4rem;
}
.time{
    width: 25%;
    font-size: 0.6rem;
    /*background: blue;*/
    text-align: right;
    line-height: 4rem;
    margin-left: 5%;
}
#page{
    width: 70%;
    margin: 20px auto;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    /*background: orangered !important;*/
}
.layui-laypage {
    text-align: center !important;
}



@media (max-width: 900px) {
    .content1{
        width: 90%;
        /*padding-bottom: 38vw;*/
        margin: 0 auto;
    }
    .listData{
        width: 100%;
        padding-bottom: 0px;
        /*background: #F6523A;*/
    }
    .titlename,.time{
        font-size: 0.8rem;
    }
    #page{
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }
    .layui-laypage {
        text-align: center !important;
    }
    .wenzi_bottom{
        /*position: fixed;bottom:0;z-index: 100;*/
    }

    .listData .box{
        height: 12vh;
    }
    .titlename,.time{
        font-size: 0.8rem;
        line-height: 12vh;
    }

}